body
{
    font-family: Arial, Helvetica, sans-serif;
}
img
{
    max-width: 100%;
}
a
{
    text-decoration: none;
}
.seccion
{
    padding-left: 0;
    padding-right: 0;
}
.sección__titulo
{
    display: block;
    color: #222;
    padding-left: 30px;
}
.seccion__primeros4-text
{  
    max-width: 100%;
    color: black;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.seccion__primeros4-text:hover
{
    color: #088488;
}
.sección__primeros4
{
    max-width: 100%;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.pruebaenlace
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:668px)
    {
        .seccion
        {
            padding-left: 4vw;
            padding-right: 4vw;
        }
        .seccion__primeros4-text
        {  
            max-width: 100%;
            color: black;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
        .seccion__primeros4-text:hover
        {
            color: #088488;
        }
        .pruebaenlace
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contenedor__articulos
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .seccion__articulo:nth-child(1)
        {
            flex: 0 0 45%;
            margin: 0 auto;
        }
        .seccion__articulo:nth-child(2)
        {
            flex: 0 0 45%;
            margin: 0 auto;
        }
        .seccion__articulo:nth-child(3)
        {
            width: 30%;
            flex: 0 0 45%;
            margin: 0 auto;
        }
        .seccion__articulo:nth-child(4)
        {
            width: 30%;
            flex: 0 0 45%;
            margin: 0 auto;
        }
        .seccion__articulo:nth-child(5)
        {
            flex: 0 0 45%;
            margin: 0 auto;
        }
        .seccion__articulo:nth-child(6)
        {
            flex: 0 0 45%;
            margin: 0 auto;
        }
        .seccion__articulo:nth-child(7)
        {
            flex: 0 0 45%;
            margin: 0 auto;
        }
        .seccion__articulo:nth-child(8)
        {
            flex: 0 0 45%;
            margin: 0 auto;
        }
    }
    @media screen and (min-width:1200px)
        {
            .contenedor__articulos
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            .seccion__articulo:nth-child(1)
            {
                flex: 0 0 20%;
                margin: 0 5px ;
            }
            .seccion__articulo:nth-child(2)
            {
                flex: 0 0 20%;
                margin: 0 5px ;
            }
            .seccion__articulo:nth-child(3)
            {
                width: 20%;
                flex: 0 0 20%;
                margin: 0 5px ;
            }
            .seccion__articulo:nth-child(4)
            {
                width: 20%;
                flex: 0 0 20%;
                margin: 0 5px ;
            }
            .seccion__articulo:nth-child(5)
            {
                flex: 0 0 20%;
                margin: 0 5px ;
            }
            .seccion__articulo:nth-child(6)
            {
                flex: 0 0 20%;
                margin: 0 5px ;
            }
            .seccion__articulo:nth-child(7)
            {
                width: 20%;
                flex: 0 0 20%;
                margin: 0 5px ;
            }
            .seccion__articulo:nth-child(8)
            {
                flex: 0 0 20%;
                margin: 0 5px ;
            }
        }

